
<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="stuffCtrl">
    {{ message }}
    <input ng-model="message">

    <div id="reviews">
      <h2>AngularJS Reviews</h2>
      <ul>
        <li ng-repeat="review in reviews" ng-if="isPositive(review.text)">
          {{ review.text }}
          <input ng-model="review.text">
        </li>
      </ul>
      <h3>Leave your own review of AngularJS</h3>
      <input ng-model="newReview">
      <button ng-click="addReview(newReview)">Add Review</button>
    </div>
  </div>
</div>